SECTION 1 - Easy while loop tasks
1. Print numbers from 1 to 5 using while loop

In [11]:
print("Numbers from 1 to 5:")
i = 0
while i < 5:
    i += 1  
    if i in range(1, 6):
        print(i,end = ' ')

Numbers from 1 to 5:
1 2 3 4 5

2. Print even numbers from 1 to 10 using while loop

In [8]:
print("Even numbers from 1 to 10:")
i = 1
while i <= 10:
    if i % 2 == 0:
        print(i, end=' ')
    i += 1

Even numbers from 1 to 10:
2 4 6 8 10

3. Print sum of numbers from 1 to 10 using while loop

In [14]:
print("Sum of numbers from 1 to 10:")
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print(sum)

Sum of numbers from 1 to 10:
55


4. Print each digit of a number using while loop

In [15]:
num = int(input("Enter a number to print each digit: "))
digits = str(num) 
i = 0
while i < len(digits):
    print(digits[i], end=' ')
    i += 1

1 2 3 4

5. Print numbers from 10 down to 1 using while loop

In [17]:
i = 10
while i >= 1 :
    print(i,end = ' ')
    i -= 1

10 9 8 7 6 5 4 3 2 1

SECTION 2 - FOR Loop Tasks                                                                                                 
6. Print numbers from 1 to 10 using for loop

In [18]:
print("Numbers from 1 to 10:")
for i in range(1, 11):
    print(i, end=' ')

Numbers from 1 to 10:
1 2 3 4 5 6 7 8 9 10

7. Print each character in the word "banana" using for loop

In [19]:
print("Characters in 'banana':")
for char in "banana":
    print(char, end=' ')

Characters in 'banana':
b a n a n a

8. Print the square numbers from 1 to 5 using for loop

In [20]:
print("Square numbers from 1 to 5:")
for i in range(1, 6):
    print(i**2, end=' ')

Square numbers from 1 to 5:
1 4 9 16 25

9. Print all even numbers from list

In [21]:
print("Even numbers from the list [2,5,8,9,10]:")
numbers = [2, 5, 8, 9, 10]
for num in numbers:
    if num % 2 == 0:
        print(num, end=' ')

Even numbers from the list [2,5,8,9,10]:
2 8 10


10. Print numbers from 1 to 20 that are divisible by 3

In [22]:
print("Numbers from 1 to 20 divisible by 3:")
for i in range(1, 21):
    if i % 3 == 0:
        print(i, end=' ')
print()

Numbers from 1 to 20 divisible by 3:
3 6 9 12 15 18

SECTION 3 - Nested Loop Tasks                                                                                             
11. Star pattern

In [23]:
print("Star Pattern:")
rows = 3
for i in range(1, rows + 1):
    for j in range(i):
        print("*", end="")
    print()
print()

Star Pattern:
*
**
***

12. Number pattern (same row repeated)

In [24]:
print("Number Pattern (same row repeated):")
for i in range(3):   # 3 rows
    for j in range(1, 4):   # Numbers 1 to 3
        print(j, end=" ")
    print()
print()

Number Pattern (same row repeated):
1 2 3
1 2 3
1 2 3

13. Triangle number pattern

In [25]:
print("Triangle Number Pattern:")
rows = 3
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()
print()

Triangle Number Pattern:
1
1 2
1 2 3

14. Multiplication table of 2 (up to 10)

In [26]:
print("Multiplication Table of 2:")
for i in range(1, 11):
    print(f"2 x {i} = {2*i}")
print()

Multiplication Table of 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

15. Print each character of two words in a list

In [28]:
print("Characters in each word from the list:")
words = ["hey", "viewer"]
for word in words:
    for char in word:
        print(char, end=" ")
    print()

Characters in each word from the list:
h e y
v i e w e r

Section 4 - Loops with Conditions                                                                                        
16. Print numbers from 1 to 10 and print "Even" or "Odd

In [30]:
print("Numbers with Even/Odd:")
for i in range(1, 11):
    if i % 2 == 0:
        print(i, ": is Even")
    else:
        print(i, ": is Odd")
print()

Numbers with Even/Odd:
1 : is Odd
2 : is Even
3 : is Odd
4 : is Even
5 : is Odd
6 : is Even
7 : is Odd
8 : is Even
9 : is Odd
10 : is Even

17. Ask the user to enter 5 numbers and print only even numbers

In [35]:
for i in range(5):
    num = int(input(f"Enter number {i+1}: "))
    if num % 2 == 0:
        print(f"{num} is Even")
print()

22 is Even

18. Ask the user to enter numbers until they enter a negative number, then stop

In [36]:
print("Enter numbers (negative number to stop):")
while True:
    num = int(input("Enter a number: "))
    if num < 0:
        print("Negative number entered. Stopping.")
        break
    print(f"You entered: {num}")
print()

Enter numbers (negative number to stop):
You entered: 4
You entered: 5
You entered: 6
Negative number entered. Stopping.

19. Print vowels in a word using for loop and if condition

In [38]:
word = input("Enter a word to print vowels: ")
print(f"Vowels in the word:{word}")
for char in word.lower():
    if char in "aeiou":
        print(char, end=" ")

Vowels in the word:sri kanya thatres
i a a a e

20. Count how many vowels are there in a given word

In [41]:
word = input("Enter a word to count vowels: ")
print(f'The number of vowels in : {word}')
count = 0
for char in word.lower():
    if char in "aeiou":
        count += 1
print(f"Number of vowels: {count}")

The number of vowels in : inbroooo
Number of vowels: 5

SECTION 5 - Creative and Fun Loops     
21. Print the word "Hello" 5 times using a loop

In [48]:
print("Task 21: Print 'Hello' 5 times")
for i in range(5):
    print("Hello")
print()

Task 21: Print 'Hello' 5 times
Hello
Hello
Hello
Hello
Hello

22. Ask the user their favorite colour 3 times using a loop

In [47]:

print("Ask favorite colour 3 times")
for i in range(3):
    color = input(f"Enter your favorite color ({i+1}/3): ")
    print(f"You entered: {color}")
print()

Ask favorite colour 3 times
You entered: yellow
You entered: yellow
You entered: ye;;pw

 23. Print pattern using nested loop: A, BB, CCC

In [45]:

print("Pattern A, BB, CCC")
for i in range(1, 4):
    print(chr(64 + i) * i)  # chr(65) is 'A'
print()

Pattern A, BB, CCC
A
BB
CCC

24. Count how many times 'a' appears in 'banana'

In [44]:
word = "banana"
count_a = 0
for char in word:
    if char == 'a':
        count_a += 1
print(f"'a' appears {count_a} times in '{word}'")
print()

'a' appears 3 times in 'banana'

25. Print numbers from 1 to 10, print 'small' if <5, else 'big'

In [49]:
print("Numbers with small/big")
for i in range(1, 11):
    if i < 5:
        print(i, "small")
    else:
        print(i, "big")

Numbers with small/big
1 small
2 small
3 small
4 small
5 big
6 big
7 big
8 big
9 big
10 big