Tasks on return Statement & Return Values
1. Write a function that returns the cube of a number.

In [2]:
def cube():
    n = int(input('Enter a number:'))
    return n ** 3
print(cube())

27

2. Write a function that takes two numbers and returns their average.

In [3]:
def avg(n,m):
    return (n+m)/2
print(avg(2,3))

2.5

3. Write a function that returns both the square and square root of a number.

In [4]:
def squ(n):
    return n ** 2,n ** (1/2)

print(squ(4))

(16, 2.0)

4. Create a function is_odd(n) that returns True if the number is odd, else False.

In [7]:
def is_odd(n):
    return True if n%2 != 0 else False
print(is_odd(3))

True

5. Write a function sum_digits(n) that returns the sum of digits of a number. (e.g.,
sum_digits(1234) should return 10)

In [15]:
def sum(n):
    s = 0
    while n > 0:
        d = n % 10
        s += d
        n //= 10
    return s
print(sum(1234))

10

Tasks on Functions with Default Parameters                                                                                                                    
6. Create a function greet(name='Guest') that returns 'Hello, !'.
price.

In [17]:
def greet(name ='Guest'):
    return 'Hello, !'
print(greet())

Hello, !


7. Create a function power(base, exponent=2) that returns base ** exponent.

In [19]:
def power(base,exponent=2):
    return base**exponent
print(power(3,4))

81


8. Create a function total_bill(item='Sandwich', quantity=1, price=50) that returns the total

In [20]:
def total_bill(item='Sandwich', quantity=1, price=50):
    return quantity * price
print(total_bill(item='Sandwich', quantity=3, price=50))

150


9. Create a function employee_info(name, age=30, department='HR') that returns a
formatted string.

In [ ]:
def employee_info(name, age=30, department='HR'):
    s = f'hi my name is {name} and my age is about {age} and i belong to the {department}'
    return s

print(employee_info(name = 'akhila', age=30, department='HR'))

hi my name is akhila and my age is about 30 and i belong to theHR

10. Create a function circle_area(radius=1) that returns the area of a circle. (area = 3.14 *
radius * radius)

In [23]:
def circle_area(radius=1):
    area = 3.14 *radius * radius
    return area
print(circle_area(4))

50.24

Tasks on Loops with Return                                                                                                                                   
11. Write a function that takes a number and returns the sum of all even numbers up to
that number.

In [36]:
def sume(n):
    s = 0
    for i in range(1,n+1):
        if i % 2 == 0:
            s += i
    return s
print(sume(5))

6

12. Write a function that returns the largest number from a list of numbers passed as a
parameter.

In [2]:
def fun(n):
    lar = n[0]
    for i in n:
        if i > lar:
            lar = i
    return lar
print(fun([1,2,3,4,5]))

5

Tasks with Multiple Return Values                                                                                                                             
13. Create a function min_max(numbers) that returns the minimum and maximum values
in a list.

In [7]:
def min_max(num):
    ma = num[0]
    mi = num[0]
    for i in num:
        if i > ma:
            ma = i
        if i < mi:
            mi = i
    return ma,mi
print(min_max([1,2,3,4,0,2,6]))

(6, 0)

14. Create a function student_summary(name, marks) that returns the student’s name,
total marks, and average marks.

In [9]:
def student_summary(name, marks):
    tm = 0  # total marks
    for i in marks:
        tm += i
    n = len(marks)
    avg = tm / n
    return name, tm, avg

print(student_summary('sowmya', [1, 2, 3, 4, 5]))

('sowmya', 15, 3.0)

Logical Task                                                                                                                                                  
15. Create a function calculate(num1, num2, operator='+') that does: - '+' → return sum - '-'
→ return difference - '*' → return product - '/' → return quotient Use return and default
parameter for operator.

In [13]:
def calculate(num1, num2, operator='+'):
    if operator == '+':
        return num1 + num2
    if operator == '-':
        return num1 - num2
    if operator == '*':
        return num1 * num2
    if operator == '/':
        return num1 / num2
    else:
        return 'Invalid operator'
print(calculate(11,10,'*'))

110