TASK ON DATA TYPES

Task 1: Swap Two Numbers
-Swap using a temporary variable and tuple unpacking

In [3]:
# swaping using temporary variables
a = 10
b = 5
c = 0

c = a
a = b
b = c

print('a:',a,'b:',b)

# swaping using tuple unpacking
d = 6
e = 9
d,e = e,d
print('d:',d,'e:',e)

a: 5 b: 10
d: 9 e: 6

Task 2: Identify Data Types
- Input three values from the user and print their types

In [13]:
n1 = input('Enter a Value:')
n2 = input('Enter a Value:')
n3 = input('Enter a Value:')
print(type(n1),type(n2),type(n3))

Enter a Value: 5.0
Enter a Value: 5
Enter a Value: sir

<class 'str'> <class 'str'> <class 'str'>

Task 3: Simple Calculator
- Perform +, -, *, /, //, %, **

In [29]:
a = int(input('a'))
b = int(input('b'))
c = input('Enter desired operation(+, -, *, /, //, %):')
if c == '+':
        print(a+b)
elif c == '-':
        print(a-b)
elif c == '*':
        print(a*b)
elif c == '/':
        print(a/b)
elif c == '//':
        print(a//b)
elif c == '%':
        print(a%b)
elif c == '**':
        print(a**b)
else:
    print('Invalid Operation')

a 2
b 3
Enter desired operation(+, -, *, /, //, %): **

8

Task 4: Salary Hike
- Take salary and apply 15% hike. Print old and new salary

In [37]:
salary = int(input('Enter your current salary: '))
hike = 0.15 * salary
new_salary = salary + hike

print(f"Old Salary: {salary}")
print(f"New Salary after 15% hike: {new_salary}")

Enter your current salary:  20000

Old Salary: 20000
New Salary after 15% hike: 23000.0

Task 5: Area and Perimeter of Circle
- Use radius to calculate area and perimeter (pi = 3.14159).

In [53]:
r = int(input('Enter radius of the Desired Circle:'))
pi = 3.14159
perimeter = 2*pi*r
area = pi*(r**2)
print('Area of the circle:', area, 'Perimeter of the circle:',perimeter)

Enter radius of the Desired Circle: 5

Area of the circle: 78.53975 Perimeter of the circle: 31.4159

Task 6: ASCII Character
- Input a character and print its ASCII using ord().

In [57]:
# ord() → Returns the ASCII (or Unicode) value of a character
# Example: ord('A') → 65

# chr() → Returns the character for a given ASCII (or Unicode) value
# Example: chr(65) → 'A'

n = input('Enter a Character:')
asc = ord(n)
print(f"The ASCII value of '{n}' is: {asc}")

Enter a Character: A

The ASCII value of 'A' is: 65

Task 7: Check Even or Odd
- Use modulus operator to determine if a number is even or odd.

In [65]:
n = int(input('Enter a Number:'))
if n % 2 == 0:
        print('n is even')
else:
        print('n is odd')

Enter a Number: 8

n is even

Task 8: Compound Assignment Practice
- Use +=, -=, =, //=, %= operators on a variable. Show result after each.

In [71]:
a = 10
print(a)
a += 10
print(a)
a -=10
print(a)
a *= 10
print(a)
a //= 10
print(a)
a %= 10
print(a)

10
20
10
100
10
0

Task 9: Boolean and Logical Check
- Use logical operators to check age and name validity.

In [75]:
age = int(input('Enter Your age:'))
name = input('Enter Your name:')
if age >= 18:
    print(f'hey {name} are a major')
else:
    print(f'hey {name} are a major')

Enter Your age: 18
Enter Your name: sam

hey sam are a major

Task 10: Bitwise Shift Practice
- Perform left shift and right shift by 1 and 2. Explain changes mathematically.

In [77]:
n = int(input("Enter a number: "))
left1 = n << 1  
left2 = n << 2  
right1 = n >> 1
right2 = n >> 2  
print("Left shift by 1:", left1)
print("Left shift by 2:", left2)
print("Right shift by 1:", right1)
print("Right shift by 2:", right2)

Enter a number:  4

Left shift by 1: 8
Left shift by 2: 16
Right shift by 1: 2
Right shift by 2: 1

Task 11: Bitwise AND, OR, XOR, NOT 
- Use a 12, b = 5 to demonstrate &, |, ^, ~ operators.

Task 12: Data Type Conversion
- Convert str to int, float to str, int to bool. Print result and type.

Task 13 Temperature Conversion
- Convert Celsius to Fahrenheit and vice versa

Task 14: Quotient and Remainder
-Use // and % to get quotient and remainder Check divisibility

Task 15: String Operations
- Use string methods: upper(), lower(), len(), and 'in'.

6

Task 16: Sum of Digits
- Input 3-digit number and sum digits using // and % only.

Task 17: Identity vs Equality
- Use and is with two lists to compare.

Task 18: Age in Months and Days
Convert age in years to months and days.

Task 19: Type Guessing
Analyze type of x = 10+3.5, y = "Age:" + str(30), z = True + False + 2.

Task 20: Bitwise Practice (No bin())
Use a number n and show n, n << 1. n >> 2. Explain mathematically.